In [1]:
import pandas as pd

In [6]:
df= pd.read_csv("imdb_master.csv")
df

                                                  review  label
0      Once again Mr. Costner has dragged out a movie...      1
1      This is an example of why the majority of acti...      1
2      First of all I hate those moronic rappers, who...      1
3      Not even the Beatles could write songs everyon...      1
4      Brass pictures (movies is not a fitting word f...      1
...                                                  ...    ...
49995  Seeing as the vote average was pretty low, and...      2
49996  The plot had some wretched, unbelievable twist...      2
49997  I am amazed at how this movie(and most others ...      2
49998  A Christmas Together actually came before my t...      2
49999  Working-class romantic drama from director Mar...      2

[50000 rows x 2 columns]